PORT=5000
MONGO_URI=mongodb+srv://farjhanuddin1411_db_user:Farjhan123@cluster0.z9cdf8i.mongodb.net/fukre-travels
JWT_SECRET=fukre_travels_super_secret_key_2024
CLIENT_URL=http://localhost:3000
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secrets
